<a href="https://colab.research.google.com/github/SylasJoushRashellLongalong/CPEN-21A-ECE-2-3/blob/main/Demo1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Phyton Variable

In [18]:
x = 1
a, b = 0, -1
a, b, c = 0, -1, 2
b = "Sally"

Casting

In [12]:
b = "sally" 
b = int (4)
print (b)
b = float (4)
print (b)

4
4.0

Type () Function

In [3]:
x = 5
y = "John"
print (type(x))
print (type (y))

<class 'int'>
<class 'str'>

Double Quotes or Single Quotes

In [7]:
y = "John"
x = 'John'
print (y)
print (x)

John
John

Case Sensitive

In [9]:
a = 4
A = "Sally"
#A will not over write a
print (a)
print (A)

4
Sally

Multiple Variables

In [13]:
x, y, z = "one", "two", "three"
print (x)
print (y)
print (z)

one
two
three

One Value to Multiple Variables

In [14]:
x = y = z = "four"
print (x)
print (y)
print (z)

four
four
four

Output Variables

In [15]:
x = "enjoying"
print ("Phython programming is" + x)

Phython programming isenjoying

In [16]:
x = "Phyton is"
y = "enjoying"
z = x + y
print (z)

Phyton isenjoying

Operations of Phyton

In [24]:
k = 10
l =  5
print(k+l)

15

In [25]:
k+=l
print (k)

15

In [29]:
k>l and l==l

True

In [31]:
k<l or k==k

True

In [32]:
not (k<l or k==k)

False

In [33]:
k is l

False

In [35]:
k%=5
k

0